.navbar-transition {
    transition: max-height 0.3s ease-in-out; /* Transition effect */
    max-height: 0; /* Initially hide menu */
    overflow: hidden; /* Hide overflowing content */
  }
  
  .navbar-transition.show {
    max-height: 500px; /* Adjust height to fit content */
  }
  